body {
  background-image: url('/images/DemonWebFiller-1200.jpg');
  background-size: cover;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /* margin-bottom: 12px; */
}

h1 { margin: 0px; font-size: 500%;  }
h2 { margin: 0px; font-size: 200%;  }

.bodyblock {
  padding-top: 0px;
	margin: auto;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
    max-width: 600px;
	  /* max-width: 80%; */
}

hr
{
  border: 1px solid rgb(128, 128, 128);
}

p, li {
  font-family: "Times New Roman", Times, "SimSun", "宋体", serif;
  font-size: 15px;
  line-height: 1.3;
}

li {
  line-height: 1.4;
}

blockquote {
  font-family: "Times New Roman", Times, "SimSun", "宋体", serif;
  font-style: italic;
}

.secretlink {
  text-decoration: none;
  color: #000000;
}

.secretlink-wrapper {
  display: flex;
  justify-content: center;
}

.footnote {
  font-size: 85%;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 30px;
}

.footnote, .footnote a {
  font-family: Arial, Helvetica, "微软雅黑体", "Microsoft YaHei", sans-serif;
  color: gray;
}
