<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}{{ with .Page.Title }}：{{.}}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{ .Site.BaseURL }}">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>

<body>

  <a href="/"><img src="/images/DemonWebHeader.png" alt="DemonWeb101-cn.com" border="0" width="100%"></a>

  <div class="bodyblock">
    <img src="images/DemonWeb101 Logo.png" alt="DemonWeb101-cn.com" border="0" width="100%">
    <!--	<H1>DemonWeb101</H1>	-->
    <p><em>无论你能做什么，或梦想你能做什么，行动起来吧。<br>
        莽撞里本就有才华、力量与魔力！</em></p>

    {{ block "main" . }}
    {{ end }}

  </div>

    <p align="right" class="footnote">
      翻译：WalterWiller，贝极星，延斐，硅酱，DKWings。
      原网站：<a href="https://demonweb101.com/">https://demonweb101.com</a>
    </p>
</body>

</html>
