{{ define "main" }}
<p>
  <em>
    <a href="/">返回初招仪式及七十二魔神</a>
  </em>
</p>

  <h2>{{ .Title }}</h2>

  {{ .Content }}

  <img src="images/{{.Params.seal}}" style="display: block; margin-left: auto; margin-right: auto;" width="300">

  {{ if .Params.portrait }}
    <img src="images/{{.Params.portrait}}" style="display: block; margin-left: auto; margin-right: auto; margin-top: 12px;" width="300">
  {{ end }}

{{ end }}
