{{ define "main" }}
  <main aria-role="main">
    {{ .Content }}

    <br>&nbsp;
    <br>&nbsp;
    <p align="right"><em class="secretlink-wrapper">
      <span>
        在这
      </span>
      <a class="secretlink" href="http://www.delta-green.com/what-is-delta-green/">
        虚假的世界
      </a>
      <span>
        之外，穿越碎裂的边缘，究竟能睹见怎样不可思议的风景？
      </span>
    </em></p>

  </main>

{{ end }}
